<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
    <body>
        @if (Request.IsAuthenticated)
        {
            <text>
                <ul>
                    <li>
                        Hello, @User.Identity.Name!
                    </li>

                    <li>
                        @Html.ActionLink("Sign out", "SignOut", "Account")
                    </li>
                </ul>
            </text>
        }
        @RenderBody()
    </body>
</html>